@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&display=swap');


body {
    margin: 0%;
    padding: 0%;
    width: 1400px;
    height: 1024px;
    background-color: #F3F9FB;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

.header {
    background-color: #4796bdc9;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 90px;
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 0.5fr;
}

.skyblock {
    height: 10px;
    width: 150px;
    margin: 0px 20px;
    background-color: #F3F9FB;
}

.userimg{
    height: 50px;
    width: 50px;
    margin: 0px 20px;
    background-color: #F3F9FB;
    border-radius: 50px;
    color: #4796BD;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.face{
    font-size: 50px !important;
    
}


.logo {
    background-image: url(/assets/logo-horizontal.png);
    height: 70px;
    width: 400px;
    background-size: cover;
}


  
.container {
    left: 50%;
    top: 50%;
    translate: -50% -25%;
    display: grid;
    padding: 5% 5%;
    position: absolute;
    width: 1000px;
    height: 700px;
    background: #FFFFFE;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 150px;
}
.container1{
    display: block;
    left: 50%;
    top: 50px
    padding 5% 5%;
    width: 600px 800px;
    height: 200px 700px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 150px;
    margin: 10px; ;
}

main{
    left: 50%;
    top: 50%;
    translate: -50% -25%;
    display: grid;
    padding: 5% 5%;
    position: absolute;
    width: 1000px;
    height: 700px;
    background: #FFFFFE;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 150px;
}

.Title{
    font-size: large;
    font-size: 'Times new Roman';
    color: #122E40;
    font-size: 48px;
    font-weight: 700;
}
.TypeofEmployee{
    margin-left: 5px;
}

h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 58px;
    color: #122E40;
}

.scan{
   display: grid;
   grid-template-columns: 1fr 1fr;
}


.scan input{
    margin: 15px;

}
.radio-group{
   margin-left: 5px;
}
hr {
    border: 1px solid rgb(167, 167, 167);
    width: 800px;
}

  .primary-button {
    position:fixed;
    right: 20px;
    bottom: 5px;
    border-radius: 50px;
    background-color: #E0E0E0;
    font-size: 18px;
    
  }

h2 {
    display: flex;
    justify-self: flex-start;
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #495D69;
    margin:  10px;
}

.scan div{
    display: grid;
}

.child {
    border-radius: 10px;
    height: 50px;
    width: 367px;
    background-color: #E0E0E0;
    border: none;
    margin: 2% 0%;
    padding-left: 20px;
    font-size: 18px;
    display: flex;
    justify-self: flex-end;
}

.button {
    background-color: #4796BD;
    color: white;
    width: 315px;
    border-radius: 50px;
    margin: 10% 9%;
    font-size: 28px;
    display: flex;
    justify-self: center;
    justify-content: center;
}

.emptable {
    height: fit-content;
    margin: 50px;
    background: #FFFFFE;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 400;
}

th {
    text-transform: uppercase;
    background-color: #E7EFF3;
    color: #495D69;
    width: 165px;
    height: 50px;
}

td {
    width: 165px;
    height: 50px;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: #f3f8fead;

}